name: mypy

on:
  push:
    branches:
      - master
  pull_request: {}

jobs:
  mypy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-python@v2
      with:
        python-version: 3.6

    - name: Install
      run: |
        python -m pip install -U pip
        pip install -U black hacking isort mypy blackdoc
    - name: mypy
      run: mypy .
